<div class="letterbox-bar top"></div>
<div class="letterbox-bar bottom"></div>

{{ if not .IsHome }}
<nav class="site-nav">
  <a href="{{ "/" | absURL }}" class="nav-home">Home</a>
  <div class="nav-group">
    <a href="{{ "/writing/" | absURL }}">Writing</a>
    <ul class="nav-dropdown">
      <li><a href="{{ "/writing/travel/" | absURL }}">Travel</a></li>
      <li><a href="{{ "/writing/poetry/" | absURL }}">Poetry</a></li>
      <li><a href="{{ "/writing/fiction/" | absURL }}">Fiction</a></li>
      <li><a href="{{ "/writing/general/" | absURL }}">General</a></li>
    </ul>
  </div>
  <div class="nav-group">
    <a href="{{ "/art/" | absURL }}">Art</a>
    <ul class="nav-dropdown">
      <li><a href="{{ "/art/art/" | absURL }}">Art</a></li>
      <li><a href="{{ "/art/photography/" | absURL }}">Photography</a></li>
    </ul>
  </div>
  <a href="{{ "/about/" | absURL }}">About</a>
</nav>
{{ end }}
