<div class="letterbox-bar top"></div>
<div class="letterbox-bar bottom"></div>

{{ if not .IsHome }}
<nav class="site-nav">
  <a href="{{ "/" | relURL }}" class="nav-home">Home</a>
  <div class="nav-group">
    <a href="{{ "/writing/" | relURL }}">Writing</a>
    <ul class="nav-dropdown">
      <li><a href="{{ "/writing/travel/" | relURL }}">Travel</a></li>
      <li><a href="{{ "/writing/poetry/" | relURL }}">Poetry</a></li>
      <li><a href="{{ "/writing/fiction/" | relURL }}">Fiction</a></li>
      <li><a href="{{ "/writing/general/" | relURL }}">General</a></li>
    </ul>
  </div>
  <div class="nav-group">
    <a href="{{ "/art/" | relURL }}">Art</a>
    <ul class="nav-dropdown">
      <li><a href="{{ "/art/art/" | relURL }}">Art</a></li>
      <li><a href="{{ "/art/photography/" | relURL }}">Photography</a></li>
    </ul>
  </div>
  <a href="{{ "/about/" | relURL }}">About</a>
</nav>
{{ end }}
